In [108]:
## importing all the neccessary package for this project
import numpy as np
import pandas as pd
import time
import datetime
from datetime import datetime, timezone
import requests
import json
import tweepy
import io
from io import BytesIO
import os
import re

<style>
    /* define the default link style */
    a {
        color: gray;
        text-decoration: none;
    }
    
    /* define the link style when it is clicked */
    a.clicked {
        color: blue;
    }
    
    /* define the link style when it is hovered */
    a:hover {
        color: black;
    }
</style>

<ul>
    <li><a href="#Gather"><strong><font size="+2">Gather</font></strong></a></li>
    <li><a href="#Assess"><strong><font size="+2">Assess</font></strong></a></li>
    <li><a href="#Clean"><strong><font size="+2">Clean</font></strong></a></li>
    <li><a href="#Store"><strong><font size="+2">Store</font></strong></a></li>
</ul>

<a id='Gather'></a>
# **Gather**
There are three data to collect for this analysis.

first is the "twitter_archive_enhanced" in CSV,

then, the "image_predictions" in TSV in URL,

lastly, the query the Twitter API and collect Data on retweet_count and like_count. (This has been provided by Udacity instructor since twitter has failed to provide me with an API access)

In [109]:
## load the twitter_archive_enhanced.csv file on df using pandas
filepath = "twitter-archive-enhanced-2 (2).csv"
twitter_archive_df = pd.read_csv(filepath)                         
twitter_archive_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None

In [110]:
twitter_archive_df.tail(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

In [111]:
## download the image_prediction TSV file from the file using request

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

# Opening a tsv file and saving the response content
with open('image-predictions.tsv', mode='wb') as file:
    file.write(response.content)
    
# Read TSV file
image_prediction_df = pd.read_csv('image-predictions.tsv', sep='\t')
# Looking at the information in our data
image_prediction_df.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [112]:
### create an empty list, read the tweet_json file, use "for loop" to read it line by line.
### create a list of the required data from the json file

### create an empty list
more_data = []

## using os.path.expanduser to locate tweet-json text file
filepath_tweet = os.path.join(os.path.expanduser("~/Desktop/WRD"), "tweet_json.txt")

### open and create a dictionary using "for loop" to read file line by line from the "tweet_json.txt" to extract the tweet id, Retweet_count and Tweet_id  
with open(filepath_tweet, 'r', encoding = 'utf-8') as file:
    for line in file:
        each_tweet = json.loads(line)
        tweet_id = each_tweet['id']
        favorite_count = each_tweet['favorite_count']
        retweet_count = each_tweet['retweet_count']
        ### append tweets, 
        more_data.append({'tweet_id':tweet_id, 'retweet_count':retweet_count, 'favorite_count':favorite_count})

more_data## more_data is in dictionary  format

[{'tweet_id': 892420643555336193,
  'retweet_count': 8853,
  'favorite_count': 39467},
 {'tweet_id': 892177421306343426,
  'retweet_count': 6514,
  'favorite_count': 33819},
 {'tweet_id': 891815181378084864,
  'retweet_count': 4328,
  'favorite_count': 25461},
 {'tweet_id': 891689557279858688,
  'retweet_count': 8964,
  'favorite_count': 42908},
 {'tweet_id': 891327558926688256,
  'retweet_count': 9774,
  'favorite_count': 41048},
 {'tweet_id': 891087950875897856,
  'retweet_count': 3261,
  'favorite_count': 20562},
 {'tweet_id': 890971913173991426,
  'retweet_count': 2158,
  'favorite_count': 12041},
 {'tweet_id': 890729181411237888,
  'retweet_count': 16716,
  'favorite_count': 56848},
 {'tweet_id': 890609185150312448,
  'retweet_count': 4429,
  'favorite_count': 28226},
 {'tweet_id': 890240255349198849,
  'retweet_count': 7711,
  'favorite_count': 32467},
 {'tweet_id': 890006608113172480,
  'retweet_count': 7624,
  'favorite_count': 31166},
 {'tweet_id': 889880896479866881,
  'retweet_count': 5156,
  'favorite_count': 28268},
 {'tweet_id': 889665388333682689,
  'retweet_count': 8538,
  'favorite_count': 38818},
 {'tweet_id': 889638837579907072,
  'retweet_count': 4735,
  'favorite_count': 27672},
 {'tweet_id': 889531135344209921,
  'retweet_count': 2321,
  'favorite_count': 15359},
 {'tweet_id': 889278841981685760,
  'retweet_count': 5637,
  'favorite_count': 25652},
 {'tweet_id': 888917238123831296,
  'retweet_count': 4709,
  'favorite_count': 29611},
 {'tweet_id': 888804989199671297,
  'retweet_count': 4559,
  'favorite_count': 26080},
 {'tweet_id': 888554962724278272,
  'retweet_count': 3732,
  'favorite_count': 20290},
 {'tweet_id': 888078434458587136,
  'retweet_count': 3653,
  'favorite_count': 22201},
 {'tweet_id': 887705289381826560,
  'retweet_count': 5609,
  'favorite_count': 30779},
 {'tweet_id': 887517139158093824,
  'retweet_count': 12082,
  'favorite_count': 46959},
 {'tweet_id': 887473957103951883,
  'retweet_count': 18781,
  'favorite_count': 69871},
 {'tweet_id': 887343217045368832,
  'retweet_count': 10737,
  'favorite_count': 34222},
 {'tweet_id': 887101392804085760,
  'retweet_count': 6167,
  'favorite_count': 31061},
 {'tweet_id': 886983233522544640,
  'retweet_count': 8084,
  'favorite_count': 35859},
 {'tweet_id': 886736880519319552,
  'retweet_count': 3443,
  'favorite_count': 12306},
 {'tweet_id': 886680336477933568,
  'retweet_count': 4610,
  'favorite_count': 22798},
 {'tweet_id': 886366144734445568,
  'retweet_count': 3316,
  'favorite_count': 21524},
 {'tweet_id': 886267009285017600, 'retweet_count': 4, 'favorite_count': 117},
 {'tweet_id': 886258384151887873,
  'retweet_count': 6523,
  'favorite_count': 28469},
 {'tweet_id': 886054160059072513, 'retweet_count': 108, 'favorite_count': 0},
 {'tweet_id': 885984800019947520,
  'retweet_count': 7097,
  'favorite_count': 33382},
 {'tweet_id': 885528943205470208,
  'retweet_count': 6683,
  'favorite_count': 36689},
 {'tweet_id': 885518971528720385,
  'retweet_count': 3899,
  'favorite_count': 20788},
 {'tweet_id': 885311592912609280, 'retweet_count': 19297, 'favorite_count': 0},
 {'tweet_id': 885167619883638784,
  'retweet_count': 4556,
  'favorite_count': 22367},
 {'tweet_id': 884925521741709313,
  'retweet_count': 16439,
  'favorite_count': 68152},
 {'tweet_id': 884876753390489601,
  'retweet_count': 6096,
  'favorite_count': 28514},
 {'tweet_id': 884562892145688576,
  'retweet_count': 5100,
  'favorite_count': 24765},
 {'tweet_id': 884441805382717440,
  'retweet_count': 5856,
  'favorite_count': 27478},
 {'tweet_id': 884247878851493888,
  'retweet_count': 21298,
  'favorite_count': 74423},
 {'tweet_id': 884162670584377345,
  'retweet_count': 3128,
  'favorite_count': 20771},
 {'tweet_id': 883838122936631299,
  'retweet_count': 3586,
  'favorite_count': 22349},
 {'tweet_id': 883482846933004288,
  'retweet_count': 10407,
  'favorite_count': 46860},
 {'tweet_id': 883360690899218434,
  'retweet_count': 3825,
  'favorite_count': 22986},
 {'tweet_id': 883117836046086144,
  'retweet_count': 6949,
  'favorite_count': 37914},
 {'tweet_id': 882992080364220416,
  'retweet_count': 4122,
  'favorite_count': 24445},
 {'tweet_id': 882762694511734784,
  'retweet_count': 5134,
  'favorite_count': 28903},
 {'tweet_id': 882627270321602560,
  'retweet_count': 6342,
  'favorite_count': 28382},
 {'tweet_id': 882268110199369728,
  'retweet_count': 12118,
  'favorite_count': 45880},
 {'tweet_id': 882045870035918850,
  'retweet_count': 5203,
  'favorite_count': 29900},
 {'tweet_id': 881906580714921986,
  'retweet_count': 3533,
  'favorite_count': 24773},
 {'tweet_id': 881666595344535552,
  'retweet_count': 11099,
  'favorite_count': 51522},
 {'tweet_id': 881633300179243008, 'retweet_count': 7, 'favorite_count': 129},
 {'tweet_id': 881536004380872706,
  'retweet_count': 16570,
  'favorite_count': 50199},
 {'tweet_id': 881268444196462592,
  'retweet_count': 5358,
  'favorite_count': 23501},
 {'tweet_id': 880935762899988482,
  'retweet_count': 2886,
  'favorite_count': 17346},
 {'tweet_id': 880872448815771648,
  'retweet_count': 3989,
  'favorite_count': 21734},
 {'tweet_id': 880465832366813184,
  'retweet_count': 6546,
  'favorite_count': 29075},
 {'tweet_id': 880221127280381952,
  'retweet_count': 4436,
  'favorite_count': 27640},
 {'tweet_id': 880095782870896641,
  'retweet_count': 4533,
  'favorite_count': 28150},
 {'tweet_id': 879862464715927552,
  'retweet_count': 3642,
  'favorite_count': 22667},
 {'tweet_id': 879674319642796034, 'retweet_count': 10, 'favorite_count': 315},
 {'tweet_id': 879492040517615616,
  'retweet_count': 3323,
  'favorite_count': 23822},
 {'tweet_id': 879415818425184262,
  'retweet_count': 45849,
  'favorite_count': 107956},
 {'tweet_id': 879376492567855104,
  'retweet_count': 3261,
  'favorite_count': 17099},
 {'tweet_id': 879130579576475649, 'retweet_count': 7181, 'favorite_count': 0},
 {'tweet_id': 879050749262655488,
  'retweet_count': 4941,
  'favorite_count': 23022},
 {'tweet_id': 879008229531029506,
  'retweet_count': 2812,
  'favorite_count': 19317},
 {'tweet_id': 878776093423087618,
  'retweet_count': 4319,
  'favorite_count': 19763},
 {'tweet_id': 878604707211726852,
  'retweet_count': 7582,
  'favorite_count': 30931},
 {'tweet_id': 878404777348136964, 'retweet_count': 1349, 'favorite_count': 0},
 {'tweet_id': 878316110768087041, 'retweet_count': 6965, 'favorite_count': 0},
 {'tweet_id': 878281511006478336,
  'retweet_count': 1349,
  'favorite_count': 7913},
 {'tweet_id': 878057613040115712,
  'retweet_count': 7181,
  'favorite_count': 42876},
 {'tweet_id': 877736472329191424,
  'retweet_count': 17300,
  'favorite_count': 71144},
 {'tweet_id': 877611172832227328, 'retweet_count': 83, 'favorite_count': 0},
 {'tweet_id': 877556246731214848,
  'retweet_count': 3994,
  'favorite_count': 23258},
 {'tweet_id': 877316821321428993,
  'retweet_count': 5414,
  'favorite_count': 27907},
 {'tweet_id': 877201837425926144,
  'retweet_count': 5880,
  'favorite_count': 27755},
 {'tweet_id': 876838120628539392,
  'retweet_count': 3506,
  'favorite_count': 21125},
 {'tweet_id': 876537666061221889,
  'retweet_count': 4800,
  'favorite_count': 23869},
 {'tweet_id': 876484053909872640,
  'retweet_count': 2511,
  'favorite_count': 19163},
 {'tweet_id': 876120275196170240,
  'retweet_count': 4903,
  'favorite_count': 28490},
 {'tweet_id': 875747767867523072,
  'retweet_count': 4497,
  'favorite_count': 25773},
 {'tweet_id': 875144289856114688,
  'retweet_count': 5081,
  'favorite_count': 22185},
 {'tweet_id': 875097192612077568,
  'retweet_count': 6342,
  'favorite_count': 27997},
 {'tweet_id': 875021211251597312,
  'retweet_count': 4922,
  'favorite_count': 26022},
 {'tweet_id': 874680097055178752,
  'retweet_count': 4875,
  'favorite_count': 28439},
 {'tweet_id': 874434818259525634, 'retweet_count': 15546, 'favorite_count': 0},
 {'tweet_id': 874296783580663808,
  'retweet_count': 4308,
  'favorite_count': 26651},
 {'tweet_id': 874057562936811520,
  'retweet_count': 4125,
  'favorite_count': 23134},
 {'tweet_id': 874012996292530176,
  'retweet_count': 11007,
  'favorite_count': 35501},
 {'tweet_id': 873697596434513921, 'retweet_count': 12518, 'favorite_count': 0},
 {'tweet_id': 873580283840344065,
  'retweet_count': 4143,
  'favorite_count': 24837},
 {'tweet_id': 873337748698140672, 'retweet_count': 1667, 'favorite_count': 0},
 {'tweet_id': 873213775632977920,
  'retweet_count': 1667,
  'favorite_count': 7467},
 {'tweet_id': 872967104147763200,
  'retweet_count': 5669,
  'favorite_count': 28031},
 {'tweet_id': 872820683541237760,
  'retweet_count': 3884,
  'favorite_count': 15029},
 {'tweet_id': 872668790621863937, 'retweet_count': 31, 'favorite_count': 0},
 {'tweet_id': 872620804844003328,
  'retweet_count': 3911,
  'favorite_count': 21309},
 {'tweet_id': 872486979161796608,
  'retweet_count': 9429,
  'favorite_count': 41606},
 {'tweet_id': 872261713294495745,
  'retweet_count': 6649,
  'favorite_count': 35085},
 {'tweet_id': 872122724285648897,
  'retweet_count': 8549,
  'favorite_count': 35324},
 {'tweet_id': 871879754684805121,
  'retweet_count': 11918,
  'favorite_count': 39090},
 {'tweet_id': 871762521631449091,
  'retweet_count': 3678,
  'favorite_count': 20787},
 {'tweet_id': 871515927908634625,
  'retweet_count': 3628,
  'favorite_count': 20730},
 {'tweet_id': 871166179821445120, 'retweet_count': 5991, 'favorite_count': 0},
 {'tweet_id': 871102520638267392,
  'retweet_count': 5764,
  'favorite_count': 21461},
 {'tweet_id': 871032628920680449,
  'retweet_count': 3999,
  'favorite_count': 23255},
 {'tweet_id': 870804317367881728,
  'retweet_count': 6393,
  'favorite_count': 33791},
 {'tweet_id': 870726314365509632, 'retweet_count': 3, 'favorite_count': 121},
 {'tweet_id': 870656317836468226,
  'retweet_count': 2817,
  'favorite_count': 12819},
 {'tweet_id': 870374049280663552,
  'retweet_count': 27680,
  'favorite_count': 85011},
 {'tweet_id': 870308999962521604,
  'retweet_count': 4384,
  'favorite_count': 22453},
 {'tweet_id': 870063196459192321,
  'retweet_count': 8840,
  'favorite_count': 37771},
 {'tweet_id': 869988702071779329, 'retweet_count': 25661, 'favorite_count': 0},
 {'tweet_id': 869772420881756160,
  'retweet_count': 10663,
  'favorite_count': 43710},
 {'tweet_id': 869702957897576449,
  'retweet_count': 6728,
  'favorite_count': 29116},
 {'tweet_id': 869596645499047938,
  'retweet_count': 3327,
  'favorite_count': 16476},
 {'tweet_id': 869227993411051520,
  'retweet_count': 4023,
  'favorite_count': 21112},
 {'tweet_id': 868880397819494401,
  'retweet_count': 12518,
  'favorite_count': 55098},
 {'tweet_id': 868639477480148993, 'retweet_count': 2240, 'favorite_count': 0},
 {'tweet_id': 868622495443632128,
  'retweet_count': 6275,
  'favorite_count': 28295},
 {'tweet_id': 868552278524837888,
  'retweet_count': 2240,
  'favorite_count': 10539},
 {'tweet_id': 867900495410671616,
  'retweet_count': 4439,
  'favorite_count': 24964},
 {'tweet_id': 867774946302451713,
  'retweet_count': 7788,
  'favorite_count': 35179},
 {'tweet_id': 867421006826221569,
  'retweet_count': 2697,
  'favorite_count': 16755},
 {'tweet_id': 867072653475098625, 'retweet_count': 135, 'favorite_count': 0},
 {'tweet_id': 867051520902168576,
  'retweet_count': 8425,
  'favorite_count': 33420},
 {'tweet_id': 866816280283807744, 'retweet_count': 32883, 'favorite_count': 0},
 {'tweet_id': 866720684873056260,
  'retweet_count': 5168,
  'favorite_count': 20888},
 {'tweet_id': 866686824827068416,
  'retweet_count': 3727,
  'favorite_count': 20070},
 {'tweet_id': 866450705531457537,
  'retweet_count': 32883,
  'favorite_count': 106827},
 {'tweet_id': 866334964761202691,
  'retweet_count': 15546,
  'favorite_count': 54720},
 {'tweet_id': 866094527597207552, 'retweet_count': 8952, 'favorite_count': 0},
 {'tweet_id': 865718153858494464,
  'retweet_count': 6008,
  'favorite_count': 26640},
 {'tweet_id': 865359393868664832,
  'retweet_count': 5384,
  'favorite_count': 27530},
 {'tweet_id': 865006731092295680,
  'retweet_count': 8209,
  'favorite_count': 29063},
 {'tweet_id': 864873206498414592,
  'retweet_count': 9361,
  'favorite_count': 33651},
 {'tweet_id': 864279568663928832,
  'retweet_count': 3266,
  'favorite_count': 15195},
 {'tweet_id': 864197398364647424,
  'retweet_count': 9616,
  'favorite_count': 31459},
 {'tweet_id': 863907417377173506,
  'retweet_count': 4441,
  'favorite_count': 21477},
 {'tweet_id': 863553081350529029,
  'retweet_count': 4489,
  'favorite_count': 15935},
 {'tweet_id': 863471782782697472, 'retweet_count': 2687, 'favorite_count': 0},
 {'tweet_id': 863432100342583297,
  'retweet_count': 5664,
  'favorite_count': 24829},
 {'tweet_id': 863427515083354112,
  'retweet_count': 105,
  'favorite_count': 2363},
 {'tweet_id': 863079547188785154,
  'retweet_count': 1195,
  'favorite_count': 9094},
 {'tweet_id': 863062471531167744,
  'retweet_count': 2687,
  'favorite_count': 8945},
 {'tweet_id': 862831371563274240,
  'retweet_count': 5457,
  'favorite_count': 20011},
 {'tweet_id': 862722525377298433,
  'retweet_count': 3809,
  'favorite_count': 17779},
 {'tweet_id': 862457590147678208,
  'retweet_count': 5388,
  'favorite_count': 21492},
 {'tweet_id': 862096992088072192,
  'retweet_count': 21840,
  'favorite_count': 66437},
 {'tweet_id': 861769973181624320, 'retweet_count': 37911, 'favorite_count': 0},
 {'tweet_id': 861383897657036800,
  'retweet_count': 11528,
  'favorite_count': 37744},
 {'tweet_id': 861288531465048066,
  'retweet_count': 4479,
  'favorite_count': 18032},
 {'tweet_id': 861005113778896900,
  'retweet_count': 4119,
  'favorite_count': 17538},
 {'tweet_id': 860981674716409858, 'retweet_count': 2334, 'favorite_count': 0},
 {'tweet_id': 860924035999428608, 'retweet_count': 882, 'favorite_count': 0},
 {'tweet_id': 860563773140209665,
  'retweet_count': 2334,
  'favorite_count': 7878},
 {'tweet_id': 860524505164394496,
  'retweet_count': 5698,
  'favorite_count': 24678},
 {'tweet_id': 860276583193509888,
  'retweet_count': 3745,
  'favorite_count': 19154},
 {'tweet_id': 860184849394610176,
  'retweet_count': 6295,
  'favorite_count': 17474},
 {'tweet_id': 860177593139703809, 'retweet_count': 33421, 'favorite_count': 0},
 {'tweet_id': 859924526012018688,
  'retweet_count': 4349,
  'favorite_count': 20021},
 {'tweet_id': 859851578198683649,
  'retweet_count': 3780,
  'favorite_count': 16105},
 {'tweet_id': 859607811541651456,
  'retweet_count': 1704,
  'favorite_count': 19476},
 {'tweet_id': 859196978902773760,
  'retweet_count': 25661,
  'favorite_count': 75193},
 {'tweet_id': 859074603037188101,
  'retweet_count': 14740,
  'favorite_count': 35553},
 {'tweet_id': 858860390427611136, 'retweet_count': 8805, 'favorite_count': 0},
 {'tweet_id': 858843525470990336,
  'retweet_count': 3771,
  'favorite_count': 16304},
 {'tweet_id': 858471635011153920,
  'retweet_count': 5271,
  'favorite_count': 22640},
 {'tweet_id': 858107933456039936,
  'retweet_count': 3154,
  'favorite_count': 16524},
 {'tweet_id': 857989990357356544,
  'retweet_count': 2812,
  'favorite_count': 16952},
 {'tweet_id': 857746408056729600,
  'retweet_count': 11524,
  'favorite_count': 36021},
 {'tweet_id': 857393404942143489,
  'retweet_count': 1785,
  'favorite_count': 6236},
 {'tweet_id': 857263160327368704,
  'retweet_count': 4934,
  'favorite_count': 21041},
 {'tweet_id': 857214891891077121, 'retweet_count': 20, 'favorite_count': 242},
 {'tweet_id': 857062103051644929, 'retweet_count': 183, 'favorite_count': 0},
 {'tweet_id': 857029823797047296,
  'retweet_count': 4364,
  'favorite_count': 19910},
 {'tweet_id': 856602993587888130, 'retweet_count': 11633, 'favorite_count': 0},
 {'tweet_id': 856543823941562368,
  'retweet_count': 3131,
  'favorite_count': 17135},
 {'tweet_id': 856526610513747968,
  'retweet_count': 2068,
  'favorite_count': 12446},
 {'tweet_id': 856330835276025856, 'retweet_count': 731, 'favorite_count': 0},
 {'tweet_id': 856288084350160898, 'retweet_count': 17, 'favorite_count': 545},
 {'tweet_id': 856282028240666624,
  'retweet_count': 6841,
  'favorite_count': 29086},
 {'tweet_id': 855862651834028034, 'retweet_count': 27, 'favorite_count': 320},
 {'tweet_id': 855860136149123072,
  'retweet_count': 1058,
  'favorite_count': 4407},
 {'tweet_id': 855857698524602368,
  'retweet_count': 2313,
  'favorite_count': 12498},
 {'tweet_id': 855851453814013952,
  'retweet_count': 19196,
  'favorite_count': 47844},
 {'tweet_id': 855818117272018944,
  'retweet_count': 5943,
  'favorite_count': 28056},
 {'tweet_id': 855459453768019968,
  'retweet_count': 8987,
  'favorite_count': 31657},
 {'tweet_id': 855245323840757760, 'retweet_count': 6568, 'favorite_count': 0},
 {'tweet_id': 855138241867124737, 'retweet_count': 50, 'favorite_count': 0},
 {'tweet_id': 854732716440526848,
  'retweet_count': 6690,
  'favorite_count': 24188},
 {'tweet_id': 854482394044301312,
  'retweet_count': 7608,
  'favorite_count': 31131},
 {'tweet_id': 854365224396361728,
  'retweet_count': 5159,
  'favorite_count': 20046},
 {'tweet_id': 854120357044912130,
  'retweet_count': 8285,
  'favorite_count': 33911},
 {'tweet_id': 854010172552949760,
  'retweet_count': 3433,
  'favorite_count': 17169},
 {'tweet_id': 853760880890318849,
  'retweet_count': 6403,
  'favorite_count': 30414},
 {'tweet_id': 853639147608842240,
  'retweet_count': 11265,
  'favorite_count': 37198},
 {'tweet_id': 853299958564483072,
  'retweet_count': 3928,
  'favorite_count': 16508},
 {'tweet_id': 852936405516943360, 'retweet_count': 2243, 'favorite_count': 0},
 {'tweet_id': 852912242202992640,
  'retweet_count': 2037,
  'favorite_count': 9658},
 {'tweet_id': 852672615818899456,
  'retweet_count': 2388,
  'favorite_count': 15939},
 {'tweet_id': 852553447878664193,
  'retweet_count': 3885,
  'favorite_count': 17492},
 {'tweet_id': 852311364735569921,
  'retweet_count': 10961,
  'favorite_count': 35325},
 {'tweet_id': 852226086759018497,
  'retweet_count': 7570,
  'favorite_count': 21378},
 {'tweet_id': 852189679701164033,
  'retweet_count': 1741,
  'favorite_count': 12217},
 {'tweet_id': 851953902622658560, 'retweet_count': 10706, 'favorite_count': 0},
 {'tweet_id': 851861385021730816, 'retweet_count': 23, 'favorite_count': 0},
 {'tweet_id': 851591660324737024,
  'retweet_count': 3819,
  'favorite_count': 17300},
 {'tweet_id': 851464819735769094,
  'retweet_count': 7855,
  'favorite_count': 25944},
 {'tweet_id': 851224888060895234,
  'retweet_count': 6350,
  'favorite_count': 22090},
 {'tweet_id': 850753642995093505,
  'retweet_count': 10352,
  'favorite_count': 33348},
 {'tweet_id': 850380195714523136,
  'retweet_count': 2915,
  'favorite_count': 13994},
 {'tweet_id': 850333567704068097,
  'retweet_count': 367,
  'favorite_count': 3647},
 {'tweet_id': 850145622816686080,
  'retweet_count': 4244,
  'favorite_count': 17519},
 {'tweet_id': 850019790995546112,
  'retweet_count': 5459,
  'favorite_count': 21944},
 {'tweet_id': 849776966551130114,
  'retweet_count': 8404,
  'favorite_count': 32390},
 {'tweet_id': 849668094696017920, 'retweet_count': 5513, 'favorite_count': 0},
 {'tweet_id': 849412302885593088,
  'retweet_count': 3487,
  'favorite_count': 17039},
 {'tweet_id': 849336543269576704,
  'retweet_count': 2101,
  'favorite_count': 12240},
 {'tweet_id': 849051919805034497,
  'retweet_count': 7396,
  'favorite_count': 32617},
 {'tweet_id': 848690551926992896,
  'retweet_count': 4826,
  'favorite_count': 27104},
 {'tweet_id': 848324959059550208,
  'retweet_count': 4037,
  'favorite_count': 20229},
 {'tweet_id': 848213670039564288,
  'retweet_count': 832,
  'favorite_count': 8834},
 {'tweet_id': 848212111729840128,
  'retweet_count': 3444,
  'favorite_count': 17618},
 {'tweet_id': 847978865427394560, 'retweet_count': 3652, 'favorite_count': 0},
 {'tweet_id': 847971574464610304, 'retweet_count': 482, 'favorite_count': 0},
 {'tweet_id': 847962785489326080,
  'retweet_count': 5730,
  'favorite_count': 25296},
 {'tweet_id': 847842811428974592,
  'retweet_count': 1522,
  'favorite_count': 5935},
 {'tweet_id': 847617282490613760,

In [113]:
### convert tweet_api_data from dictionary to dataframe using panda
more_data_df = pd.DataFrame(more_data, columns=['tweet_id', 'retweet_count', 'favorite_count'])
more_data_df.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

<a id='Assess'></a>
# **ASSESS**
Both Visual and Programmatic assessment would be done in this section

In this section I will be checking for the Quality and Tidiness of the these datasets

## **Visual assessment**

In [114]:
twitter_archive_df.sample(5) ##

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",PUPDATE: just noticed this dog has some extra legs. Very advanced. Revolutionary af. Upgraded to a 9/10,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1265,709901256215666688,NaN,NaN,2016-03-16 00:37:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","WeRateDogs stickers are here and they're 12/10! Use code ""puppers"" at checkout \n\nShop now: https://t.co/k5xsufRKYm https://t.co/ShXk46V13r",NaN,NaN,NaN,"http://goo.gl/ArWZfi,https://twitter.com/dog_rates/status/709901256215666688/photo/1,https://twitter.com/dog_rates/status/709901256215666688/photo/1,https://twitter.com/dog_rates/status/709901256215666688/photo/1,https://twitter.com/dog_rates/status/709901256215666688/photo/1",12,10,None,None,None,None,None
1167,721503162398597120,NaN,NaN,2016-04-17 00:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Panda. He's happy af. 11/10 https://t.co/IOAk9i4UvE,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/721503162398597120/photo/1,https://twitter.com/dog_rates/status/721503162398597120/photo/1,https://twitter.com/dog_rates/status/721503162398597120/photo/1,https://twitter.com/dog_rates/status/721503162398597120/photo/1",11,10,Panda,None,None,None,None
145,863553081350529029,NaN,NaN,2017-05-14 00:34:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Neptune. He's a backpup vocalist for the Dixie Chicks. 13/10 (vid by @AmiWinehouse) https://t.co/tordvmaaop,NaN,NaN,NaN,https://twitter.com/dog_rates/status/863553081350529029/video/1,13,10,Neptune,None,None,None,None
80,877316821321428993,NaN,NaN,2017-06-21 00:06:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Dante. At first he wasn't a fan of his new raincoat, then he saw his reflection. H*ckin handsome. 13/10 for water resistant good boy https://t.co/SHRTIo5pxc",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/877316821321428993/photo/1,https://twitter.com/dog_rates/status/877316821321428993/photo/1",13,10,Dante,None,None,None,None

In [115]:
image_prediction_df.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
323,671874878652489728,https://pbs.twimg.com/media/CVL6op1WEAAUFE7.jpg,1,china_cabinet,0.996031,False,entertainment_center,0.001986,False,bookcase,0.001652,False
1994,874057562936811520,https://pbs.twimg.com/media/DCFGtdoXkAEsqIw.jpg,1,flat-coated_retriever,0.832177,True,black-and-tan_coonhound,0.040437,True,Newfoundland,0.028228,True
1064,715360349751484417,https://pbs.twimg.com/media/Ce14cOvWwAAcFJH.jpg,1,nail,0.855552,False,screw,0.073277,False,padlock,0.023970,False
1442,775364825476165632,https://pbs.twimg.com/media/CsKmMB2WAAAXcAy.jpg,3,beagle,0.571229,True,Chihuahua,0.175257,True,Pembroke,0.034306,True

In [116]:
more_data_df.sample(5)

                tweet_id  retweet_count  favorite_count
9     890240255349198849           7711           32467
1208  715680795826982913           1813            4719
943   752660715232722944           1794            4878
1801  676948236477857792            980            2354
2028  671789708968640512           3811            7527

## **Programmatic Assessment**

In [117]:
twitter_archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [118]:
image_prediction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [119]:
more_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

### count of rows and columns

In [120]:
twitter_archive_df.shape

(2356, 17)

In [121]:
image_prediction_df.shape

(2075, 12)

In [122]:
more_data_df.shape

(2354, 3)

### checking for duplicate rows and null cells.

In [123]:
twitter_archive_df.duplicated().all()

False

In [124]:
image_prediction_df.duplicated().all()

False

In [125]:
more_data_df.duplicated().all()

False

In [126]:
twitter_archive_df.isna().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [127]:
image_prediction_df.isna().any()

tweet_id    False
jpg_url     False
img_num     False
p1          False
p1_conf     False
p1_dog      False
p2          False
p2_conf     False
p2_dog      False
p3          False
p3_conf     False
p3_dog      False
dtype: bool

In [128]:
more_data_df.isna().sum()

tweet_id          0
retweet_count     0
favorite_count    0
dtype: int64

In [129]:
total_null_cell = twitter_archive_df.isnull().sum().sort_values(ascending = False)
## --- total number of rows in dataframe
total_rows_count = twitter_archive_df.isnull().count().sort_values(ascending =False) 
## --- total number of null cells in each column

percentage = (total_null_cell/total_rows_count).sort_values(ascending= False)
empty_cells = pd.concat([total_null_cell, percentage], axis=1, keys=['Total_empty_cells', '%_empty_cells'])
empty_cells.style.format({'%_empty_cells': "{:.2%}"})

### **More assessment**

###### for twitter_archive_df

In [130]:
twitter_archive_df.rating_numerator.value_counts().sort_values( ascending = False)

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
2         9
1         9
420       2
0         2
75        2
15        2
84        1
960       1
99        1
24        1
182       1
27        1
666       1
165       1
1776      1
204       1
17        1
50        1
45        1
60        1
44        1
143       1
121       1
20        1
26        1
144       1
80        1
88        1
Name: rating_numerator, dtype: int64

In [131]:
twitter_archive_df.rating_denominator.value_counts().sort_values( ascending = False)

10     2333
50        3
11        3
20        2
80        2
90        1
120       1
16        1
110       1
130       1
40        1
170       1
0         1
150       1
15        1
7         1
70        1
2         1
Name: rating_denominator, dtype: int64

In [132]:
### inspecting the name column.
twitter_archive_df.name

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
          ...
2351        None
2352           a
2353           a
2354           a
2355        None
Name: name, Length: 2356, dtype: object

In [133]:
### I visually inspected the name column and noticed that the bulk of the errors are in lowercase
### I will be inspecting it further programmatical

name_list = list(twitter_archive_df.name.unique()) ## create a list with all unique name in the name columns
name_error=[] ## this empty list will contain the names of lowercase which is predicted to be errorous
for n in name_list:
    if n[0].islower():
        name_error.append(n)
        print(n)

such
a
quite
not
one
incredibly
mad
an
very
just
my
his
actually
getting
this
unacceptable
all
old
infuriating
the
by
officially
life
light
space

In [134]:
###  checking the content of source column  for any anomaly
twitter_archive_df.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [135]:
### checking for the content of the text column

twitter_archive_df.text[1]

"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV"

In [136]:
twitter_archive_df.text[3]

'This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ'

In [137]:
twitter_archive_df.text[60]

'This is Bella. She had her first beach experience this morning. Complete success. 12/10 would perform a sandy boop https://t.co/4VsFysDmiw'

In [138]:
twitter_archive_df.text.sample

<bound method NDFrame.sample of 0                                                            This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
1       This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV
2                        This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
3                                                                  This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ
4       This is Franklin. He would like you to stop calling him "cute." He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f
                                                                                       ...
2351                                              Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq
2352                             This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx
2353                                    Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR
2354                           This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI
2355                                   Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj
Name: text, Length: 2356, dtype: object>

The text column contains both text and url

### For image_prediction_df

In [139]:
image_prediction_df.query("p1_dog== False & p2_dog== False & p3_dog == False ").count()

tweet_id    324
jpg_url     324
img_num     324
p1          324
p1_conf     324
p1_dog      324
p2          324
p2_conf     324
p2_dog      324
p3          324
p3_conf     324
p3_dog      324
dtype: int64

In [140]:
### checking jpg_url duplicate
image_prediction_df.jpg_url.value_counts()

#some url are repeated twice

https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg                                            2
https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/807106774843039744/pu/img/8XZg1xW35Xp2J6JW.jpg    2
https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg                                            2
https://pbs.twimg.com/media/CsrjryzWgAAZY00.jpg                                            2
                                                                                          ..
https://pbs.twimg.com/media/CXrmMSpUwAAdeRj.jpg                                            1
https://pbs.twimg.com/media/CXrawAhWkAAWSxC.jpg                                            1
https://pbs.twimg.com/media/CXrIntsUsAEkv0d.jpg                                            1
https://pbs.twimg.com/media/CXqcOHCUQAAugTB.jpg                                            1
https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg                                            1
Name: jpg_url, Length: 2009, dtype: int64

In [141]:
## number of duplicated url in jpg_url columns
(image_prediction_df.jpg_url.duplicated()).value_counts()

False    2009
True       66
Name: jpg_url, dtype: int64

## Assessment observation  

>  ___Quality issue___ 

 
 **Twitter_archive_df**



 
1). timestamp has +0000 all through the column; It is unneccessary.

2). timestamp dtype is in string(object) instead of a datetime format.

3). text column contain not just text but some url.

4). missing names in the name column.

5). the values that are inputted in lowercase in the name column are not fit for a name such as "a".

6). some denominating rating are less than 10 and greater than 10.

7). some numerator rating are invalid.

8). source column contain text and url.

9). dogname contains none instead of NaN.

10). the retweet columns contains over.

11). some columns such as;(in_reply_to_user_id,in_reply_to_status_id,retweeted_status_timestamp,retweeted_status_id,retweeted_status_user_id) have over 90% of missing values.


--



**image_prediction_df**


12). inconsistent naming style for the breeds (p1, p2 and p3)

13). there are redundant columns in the image_prediction_df. It is not needed for the analysis.

14). All p1_dog == False rows is not needed for this analysis.

15). there are 66 duplicate entries in the jpg_url column

--
   

**more_data_df**

15). tweet_id is an integer instead of string.



> ___Tidiness issue___

1).  All tables can be merged to a single column.

2).  The dog category should be collapsed into a single column.

<a id='Clean'></a>
# **Clean**

In [142]:
## duplicate all dataframe
df_archive_clean = twitter_archive_df.copy()
df_image_clean = image_prediction_df.copy()
df_more_clean = more_data_df.copy()

In [143]:
df_archive_clean.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None

In [144]:
df_image_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [145]:
df_more_clean.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

## **Quality issue**

### Issue 

The retweet columns contains over 96% missing value.

#### Define:

There are too many missing value in the retweet's columns which includes in_reply_to_user_id,in_reply_to_status_id,retweeted_status_timestamp,retweeted_status_id,retweeted_status_user_id). I will have to remove this as it will not help our analysis.

#### Code

In [146]:
# Drop all columns with replies, retweets and others
df_archive_clean

col = ['in_reply_to_status_id', 'in_reply_to_user_id', 
       'retweeted_status_id', 'retweeted_status_user_id', 
       'retweeted_status_timestamp', 'expanded_urls']
df_archive_clean.drop(col, axis=1, inplace=True)

#### Test

In [147]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   object
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   rating_numerator    2356 non-null   int64
 5   rating_denominator  2356 non-null   int64
 6   name                2356 non-null   object
 7   doggo               2356 non-null   object
 8   floofer             2356 non-null   object
 9   pupper              2356 non-null   object
 10  puppo               2356 non-null   object
dtypes: int64(3), object(8)
memory usage: 202.6+ KB

### Issue
 Timestamp has +0000 all through the column; It is unneccessary.
 
 #### Define
  I will remove the +0000 in the timestamp column.

#### Code

In [148]:
df_archive_clean.timestamp=df_archive_clean.timestamp.apply(lambda x: x[:-5])

### Test

In [149]:
df_archive_clean.timestamp.sample(3)

1492    2016-01-28 21:54:41
1456    2016-02-04 18:35:39
285     2017-03-07 00:57:32
Name: timestamp, dtype: object

### Issue

Timestamp dtype is in string(object) instead of a datetime format.


#### Define:

The Timestamp datatype in Twitter_Archive_df is a string. Time column are to be standardized as "datetime" format.

#### Code

In [150]:
df_archive_clean.timestamp = pd.to_datetime(df_archive_clean.timestamp)

#### Test

In [151]:
df_archive_clean.timestamp.dtype

dtype('<M8[ns]')

### Issue
Date and time are in the same column(timestamp)
#### Define:
The date and time should be in seperate columns; I will be creating new columns for both Time and Date while I drop the timestamp column.

#### Code

In [152]:
## create date column
df_archive_clean['date'] = df_archive_clean.timestamp.dt.date

## create time column
df_archive_clean['time'] = df_archive_clean.timestamp.dt.time 

## convert from object dtype to datetime
df_archive_clean.date = pd.to_datetime(df_archive_clean.date)

## drop the timestamp column
df_archive_clean.drop(columns = ['timestamp'], inplace = True)

#### Test

In [153]:
df_archive_clean.info()

df_archive_clean.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   source              2356 non-null   object
 2   text                2356 non-null   object
 3   rating_numerator    2356 non-null   int64
 4   rating_denominator  2356 non-null   int64
 5   name                2356 non-null   object
 6   doggo               2356 non-null   object
 7   floofer             2356 non-null   object
 8   pupper              2356 non-null   object
 9   puppo               2356 non-null   object
 10  date                2356 non-null   datetime64[ns]
 11  time                2356 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 221.0+ KB

,tweet_id,source,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time
0,892420643555336193,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,13,10,Phineas,None,None,None,None,2017-08-01,16:23:56

### Issue

Text column contain not just text but some url.

#### Define:
The text column in the Twitter_archive_df contains both the tweet text and some Url. I will be extracting the Text only.

#### Code

In [154]:
def text_only(a):
    a = a.split('https:')[0]
    return a ## create a function to split text from URL .

df_archive_clean['text'] = df_archive_clean['text'].apply(text_only) ## apply the function text_only

#### Test

In [155]:
for content in df_archive_clean.text.sample(3):
    print(content)

Just received another perfect photo of dogs and the sunset. 12/10
Say hello to Clarence. He's a western Alkaline Pita. Very proud of himself for dismembering his stuffed dog pal 8/10
This is Ralph. He patrols the lake. Looking for babes. 11/10

### Issue

Source column contain text and url.

#### Define:

The "source" column in the twitter_archive_df should contain only the "source/device" from which the tweet was made by the user. The values in this column is stored in a url format. I will be extracting the source/device from these urls

#### Code

In [156]:
df_archive_clean.source=df_archive_clean.source.str.extract(r'\>(.*?)\<')

#### Test

In [157]:
df_archive_clean.source.value_counts()

Twitter for iPhone     2221
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: source, dtype: int64

#### Issue
Source column datatype is in Object

#### Define: 
The "Source" column is a fixed Categorical variable without middle ground intervals. It is either this or that. This column would be changed to a category datatype for better optimization and analysis.

#### Code

In [158]:
df_archive_clean.source = df_archive_clean['source'].astype('category')

#### Test

In [159]:
df_archive_clean["source"].dtype

CategoricalDtype(categories=['TweetDeck', 'Twitter Web Client', 'Twitter for iPhone',
                  'Vine - Make a Scene'],
, ordered=False)

In [160]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   source              2356 non-null   category
 2   text                2356 non-null   object
 3   rating_numerator    2356 non-null   int64
 4   rating_denominator  2356 non-null   int64
 5   name                2356 non-null   object
 6   doggo               2356 non-null   object
 7   floofer             2356 non-null   object
 8   pupper              2356 non-null   object
 9   puppo               2356 non-null   object
 10  date                2356 non-null   datetime64[ns]
 11  time                2356 non-null   object
dtypes: category(1), datetime64[ns](1), int64(3), object(7)
memory usage: 205.1+ KB

### Issue
Tweet_id is an integer instead of string.

#### Define
The tweet_id is a unique identifier(primary key). It should be best preserved in a string format rather int to avoid problem.

#### Code

In [161]:
df_archive_clean.tweet_id = df_archive_clean.tweet_id.astype(str)
df_image_clean.tweet_id = df_image_clean.tweet_id.astype(str)
df_more_clean.tweet_id = df_more_clean.tweet_id.astype(str)

#### Test

In [162]:
df_archive_clean.dtypes

tweet_id                      object
source                      category
text                          object
rating_numerator               int64
rating_denominator             int64
name                          object
doggo                         object
floofer                       object
pupper                        object
puppo                         object
date                  datetime64[ns]
time                          object
dtype: object

In [163]:
df_image_clean.dtypes

tweet_id     object
jpg_url      object
img_num       int64
p1           object
p1_conf     float64
p1_dog         bool
p2           object
p2_conf     float64
p2_dog         bool
p3           object
p3_conf     float64
p3_dog         bool
dtype: object

In [164]:
df_more_clean.dtypes

tweet_id          object
retweet_count      int64
favorite_count     int64
dtype: object

In [165]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   object
 1   source              2356 non-null   category
 2   text                2356 non-null   object
 3   rating_numerator    2356 non-null   int64
 4   rating_denominator  2356 non-null   int64
 5   name                2356 non-null   object
 6   doggo               2356 non-null   object
 7   floofer             2356 non-null   object
 8   pupper              2356 non-null   object
 9   puppo               2356 non-null   object
 10  date                2356 non-null   datetime64[ns]
 11  time                2356 non-null   object
dtypes: category(1), datetime64[ns](1), int64(2), object(8)
memory usage: 205.1+ KB

### Issue
Some rows in the name column are wrongly captured.
#### Define 
The name column was extracted from the "text" column thus, some are wrongly captured ( e.g This is....). Ideally, this rows should contain a NaN value. I will be filling this rows with a NaN value

#### Code

In [166]:
## Re extract name from text column properly by taking the Word after "This is" ( most likely the  dog name) 

index_text_for_name = re.compile(r'(?:name(?:d)?)\s{1}(?:is\s)?([A-Za-z]+)') ## extract name from text column using regex
for index, row in df_archive_clean.iterrows():  
    if (row['name'].islower()):
        try:
            new_name = re.findall(index_text_for_name , row['text'])[0]
            df_archive_clean.loc[index,'name'] = df_archive_clean.loc[index,'name'].replace(row['name'], new_name)
        except IndexError:
            df_archive_clean.loc[index,'name'] = np.nan
## Replace none value with Nan
df_archive_clean['name'] = df_archive_clean['name'].replace('None', np.nan)

#### Test

In [167]:
## number of rows that has None in the name column
df_archive_clean[(df_archive_clean.name) == 'None'].count()

tweet_id              0
source                0
text                  0
rating_numerator      0
rating_denominator    0
name                  0
doggo                 0
floofer               0
pupper                0
puppo                 0
date                  0
time                  0
dtype: int64

In [168]:
len(df_archive_clean[df_archive_clean.name.isin(name_error)])
0

0

In [169]:
for n in df_archive_clean.name:
    if n == "None":
        print(n)

In [170]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   object
 1   source              2356 non-null   category
 2   text                2356 non-null   object
 3   rating_numerator    2356 non-null   int64
 4   rating_denominator  2356 non-null   int64
 5   name                1524 non-null   object
 6   doggo               2356 non-null   object
 7   floofer             2356 non-null   object
 8   pupper              2356 non-null   object
 9   puppo               2356 non-null   object
 10  date                2356 non-null   datetime64[ns]
 11  time                2356 non-null   object
dtypes: category(1), datetime64[ns](1), int64(2), object(8)
memory usage: 205.1+ KB

### Issue
Some numerator rating is invalid

#### Define
The numerator ratings are extracted from the text columns. The method of indexing has caused it to pick up some wrong number for rating, the numbers are typically >10. I will be manually correcting this errors.

####  Code

In [171]:
## Observe columns visually
pd.set_option("display.max_colwidth", None) ### display the full text on output
df_archive_clean.loc[(df_archive_clean.rating_numerator > 15), ['tweet_id', 'rating_numerator', 'rating_denominator', 'text']]

,tweet_id,rating_numerator,rating_denominator,text
55,881633300179243008,17,10,@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s
188,855862651834028034,420,10,@dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research
189,855860136149123072,666,10,"@s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed. His goodness shines through. 666/10"
290,838150277551247360,182,10,@markhoppus 182/10
313,835246439529840640,960,0,"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"
340,832215909146226688,75,10,"RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10"
433,820690176645140481,84,70,The floofs have been released I repeat the floofs have been released. 84/70
516,810984652412424192,24,7,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\n
695,786709082849828864,75,10,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10"
763,778027034220126208,27,10,This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back
902,758467244762497024,165,150,Why does this never happen at my front door... 165/150
979,749981277374128128,1776,10,This is Atticus. He's quite simply America af. 1776/10
1120,731156023742988288,204,170,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once
1202,716439118184652801,50,50,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10
1228,713900603437621249,99,90,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody
1254,710658690886586372,80,80,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80
1274,709198395643068416,45,50,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once"
1351,704054845121142784,60,50,Here is a whole flock of puppers. 60/50 I'll take the lot
1433,697463031882764288,44,40,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once
1634,684225744407494656,143,130,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you"
1635,684222868335505415,121,110,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110
1663,682808988178739200,20,16,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible"
1712,680494726643068929,26,10,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10
1779,677716515794329600,144,120,IT'S PUPPERGEDDON. Total of 144/120 ...I think
1843,675853064436391936,88,80,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once
2074,670842764863651840,420,10,After so many requests... here you go.\n\nGood dogg. 420/10

In [172]:
## all rows with no actual rating rating in text column is ascribe NaN value.
df_archive_clean.loc[[188,189,290,433,516,902,979,1120,1202,1228,1254,1274,1351,1433,1634,1635,1663,1779,1843,2074], ['rating_numerator','rating_denominator']] = np.NaN

#### Test

In [173]:
## Test
df_nan = df_archive_clean.loc[[188,189,290,433,516,902,979,1120,1202,1228,1254,1274,1351,1433,1634,1635,1663,1779,1843,2074], ['rating_numerator','rating_denominator']]
df_nan

      rating_numerator  rating_denominator
188                NaN                 NaN
189                NaN                 NaN
290                NaN                 NaN
433                NaN                 NaN
516                NaN                 NaN
902                NaN                 NaN
979                NaN                 NaN
1120               NaN                 NaN
1202               NaN                 NaN
1228               NaN                 NaN
1254               NaN                 NaN
1274               NaN                 NaN
1351               NaN                 NaN
1433               NaN                 NaN
1634               NaN                 NaN
1635               NaN                 NaN
1663               NaN                 NaN
1779               NaN                 NaN
1843               NaN                 NaN
2074               NaN                 NaN

#### Code 
- Correcting the rows in the  rating_numerator column with actual rating in its text column that is misplaced.

- dropping the Null rows from the table.

In [174]:
## rows containing actual rating in the text column.
df_archive_clean.loc[(df_archive_clean.rating_numerator > 15), ['tweet_id', 'rating_numerator', 'rating_denominator', 'text']]

,tweet_id,rating_numerator,rating_denominator,text
55,881633300179243008,17.0,10.0,@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s
313,835246439529840640,960.0,0.0,"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"
340,832215909146226688,75.0,10.0,"RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10"
695,786709082849828864,75.0,10.0,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10"
763,778027034220126208,27.0,10.0,This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back
1712,680494726643068929,26.0,10.0,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10

In [175]:
## manually extracting the correct numerator rating from text column.
df_archive_clean.loc[55,'rating_numerator'] = 13
df_archive_clean.loc[313,'rating_numerator'] = 13
df_archive_clean.loc[340,'rating_numerator'] = 10
df_archive_clean.loc[695,'rating_numerator'] = 10
df_archive_clean.loc[763,'rating_numerator'] = 11
df_archive_clean.loc[1712,'rating_numerator'] = 11

In [176]:
df_archive_clean.loc[(df_archive_clean.rating_numerator > 15), ['tweet_id', 'rating_numerator', 'rating_denominator', 'text']]

df_archive_clean.dropna(subset=['rating_numerator'], how ='all', inplace = True)

#### Test

In [177]:
## check null value 
df_archive_clean.rating_numerator.isna().any()

False

In [178]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2336 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2336 non-null   object
 1   source              2336 non-null   category
 2   text                2336 non-null   object
 3   rating_numerator    2336 non-null   float64
 4   rating_denominator  2336 non-null   float64
 5   name                1521 non-null   object
 6   doggo               2336 non-null   object
 7   floofer             2336 non-null   object
 8   pupper              2336 non-null   object
 9   puppo               2336 non-null   object
 10  date                2336 non-null   datetime64[ns]
 11  time                2336 non-null   object
dtypes: category(1), datetime64[ns](1), float64(2), object(8)
memory usage: 221.5+ KB

In [179]:
## Test if index still exist in column.
try:
    df_nan = df_archive_clean.loc[[188,189,290,433,516,902,979,1120,1202,1228,1254,1274,1351,1433,1634,1635,1663,1779,1843,2074], ['rating_numerator','rating_denominator']]
except KeyError:
    print("index doesn't exist in column")

index doesn't exist in column

In [180]:
df_archive_clean.sample(5)

,tweet_id,source,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time
1362,703041949650034688,Twitter for iPhone,This is an East African Chalupa Seal. We only rate dogs. Please only send in dogs. Thank you... 10/10,10.0,10.0,NaN,None,None,None,None,2016-02-26,02:20:37
166,859924526012018688,Twitter for iPhone,Meet Milky. She has no idea what happened. Just as pupset as you. Perhaps a sheep exploded. Even offered to help clean. 12/10 very good girl,12.0,10.0,Milky,None,None,None,None,2017-05-04,00:15:58
1848,675798442703122432,Twitter for iPhone,This is Bernie. He just touched a boob for the first time. 10/10,10.0,10.0,Bernie,None,None,None,None,2015-12-12,22:04:39
552,804413760345620481,Twitter for iPhone,RT @dog_rates: This is Rusty. He's going D1 for sure. Insane vertical. 13/10 would draft,13.0,10.0,Rusty,None,None,None,None,2016-12-01,19:56:00
275,840696689258311684,Twitter for iPhone,I didn't even have to intervene. Took him 4 minutes to realize his error. 10/10 for Kevin,10.0,10.0,NaN,None,None,None,None,2017-03-11,22:51:24

## **Image Prediction Cleaning**

12). inconsistent naming style for the breeds (p1, p2 and p3)

13). there are redundant columns in the image_prediction_df. It is not needed for the analysis.

14). All p1_dog == False rows is not needed for this analysis.

15). there are 66 duplicate entries in the jpg_url column

In [181]:
df_image_clean.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
49,666835007768551424,https://pbs.twimg.com/media/CUES51dXIAEahyG.jpg,1,Airedale,0.448459,True,toy_poodle,0.124030,True,teddy,0.110183,False
1344,759099523532779520,https://pbs.twimg.com/media/Cojc_Q0WcAAqi_K.jpg,1,Shetland_sheepdog,0.129034,True,kelpie,0.117508,True,Siberian_husky,0.106708,True
1268,749417653287129088,https://pbs.twimg.com/media/CmZ3YH9WEAAowi3.jpg,2,papillon,0.772894,True,Shetland_sheepdog,0.042408,True,collie,0.042313,True
1986,872486979161796608,https://pbs.twimg.com/media/DBuyRlTUwAAYhG9.jpg,1,Pembroke,0.931861,True,Cardigan,0.037721,True,Chihuahua,0.011967,True
1819,834209720923721728,https://pbs.twimg.com/media/C5O1UAaWIAAMBMd.jpg,1,golden_retriever,0.754799,True,Pekinese,0.197861,True,Labrador_retriever,0.008654,True

### Issue
Inconsistent naming style for the breeds (p1, p2 and p3)

#### Define
The image prediction columns for the dog breed prediction is inconsistent; I will be unifying it by replacing the spaces with underscore and also changing all uppercase strings to lowercase.

#### Code

In [182]:
df_image_clean['p1'].unique()

array(['Welsh_springer_spaniel', 'redbone', 'German_shepherd',
       'Rhodesian_ridgeback', 'miniature_pinscher',
       'Bernese_mountain_dog', 'box_turtle', 'chow', 'shopping_cart',
       'miniature_poodle', 'golden_retriever', 'Gordon_setter',
       'Walker_hound', 'pug', 'bloodhound', 'Lhasa', 'English_setter',
       'hen', 'desktop_computer', 'Italian_greyhound', 'Maltese_dog',
       'three-toed_sloth', 'ox', 'malamute', 'guinea_pig',
       'soft-coated_wheaten_terrier', 'Chihuahua',
       'black-and-tan_coonhound', 'coho', 'toy_terrier',
       'Blenheim_spaniel', 'Pembroke', 'llama',
       'Chesapeake_Bay_retriever', 'curly-coated_retriever', 'dalmatian',
       'Ibizan_hound', 'Border_collie', 'Labrador_retriever', 'seat_belt',
       'snail', 'miniature_schnauzer', 'Airedale', 'triceratops', 'swab',
       'hay', 'hyena', 'jigsaw_puzzle', 'West_Highland_white_terrier',
       'toy_poodle', 'giant_schnauzer', 'vizsla', 'vacuum', 'Rottweiler',
       'Siberian_husky', 'teddy', 'papillon', 'Saint_Bernard',
       'porcupine', 'goose', 'Tibetan_terrier', 'borzoi', 'beagle',
       'hare', 'Yorkshire_terrier', 'Pomeranian', 'electric_fan',
       'web_site', 'ibex', 'kuvasz', 'fire_engine', 'lorikeet',
       'flat-coated_retriever', 'toyshop', 'common_iguana',
       'Norwegian_elkhound', 'frilled_lizard', 'leatherback_turtle',
       'hamster', 'Angora', 'Arctic_fox', 'trombone', 'canoe',
       'king_penguin', 'shopping_basket', 'standard_poodle',
       'Staffordshire_bullterrier', 'basenji', 'Lakeland_terrier',
       'American_Staffordshire_terrier', 'bearskin', 'Shih-Tzu',
       'bustard', 'crash_helmet', 'French_bulldog', 'Pekinese',
       'komondor', 'ski_mask', 'malinois', 'kelpie', 'Brittany_spaniel',
       'cocker_spaniel', 'shower_curtain', 'basset', 'jellyfish',
       'doormat', 'Arabian_camel', 'lynx', 'hog', 'comic_book', 'minivan',
       'seashore', 'cuirass', 'Brabancon_griffon', 'candle', 'Eskimo_dog',
       'weasel', 'Christmas_stocking', 'washbasin', 'car_mirror',
       'piggy_bank', 'pot', 'boathouse', 'mud_turtle',
       'German_short-haired_pointer', 'Shetland_sheepdog',
       'Irish_terrier', 'cairn', 'platypus', 'English_springer',
       'whippet', 'ping-pong_ball', 'sea_urchin', 'bow_tie',
       'window_shade', "jack-o'-lantern", 'sorrel', 'Sussex_spaniel',
       'peacock', 'axolotl', 'wool', 'banana', 'Dandie_Dinmont',
       'Norwich_terrier', 'wood_rabbit', 'dhole', 'keeshond',
       'Norfolk_terrier', 'lacewing', 'dingo', 'brown_bear',
       'Old_English_sheepdog', 'scorpion', 'flamingo', 'microphone',
       'Samoyed', 'pitcher', 'African_hunting_dog', 'refrigerator',
       'picket_fence', 'tub', 'zebra', 'hermit_crab', 'swing', 'Doberman',
       'park_bench', 'feather_boa', 'Loafer', 'stone_wall', 'ice_bear',
       'prayer_rug', 'chimpanzee', 'china_cabinet', 'bee_eater',
       'tennis_ball', 'carton', 'killer_whale', 'ostrich', 'terrapin',
       'Siamese_cat', 'gondola', 'Great_Pyrenees', 'microwave',
       'starfish', 'sandbar', 'tusker', 'motor_scooter', 'ram',
       'leaf_beetle', 'wombat', 'schipperke', 'Newfoundland',
       'bull_mastiff', 'water_bottle', 'suit', 'toilet_seat', 'collie',
       'robin', 'Cardigan', 'Greater_Swiss_Mountain_dog', 'slug',
       'toilet_tissue', 'acorn_squash', 'soccer_ball',
       'African_crocodile', 'tick', 'ocarina', 'boxer', 'street_sign',
       'bow', 'stove', 'paper_towel', 'upright', 'dough',
       'Scottish_deerhound', 'bath_towel', 'standard_schnauzer',
       'walking_stick', 'Irish_water_spaniel', 'bubble', 'Boston_bull',
       'book_jacket', 'rain_barrel', 'black-footed_ferret', 'guenon',
       'Japanese_spaniel', 'water_buffalo', 'patio', 'cowboy_hat',
       'dogsled', 'maze', 'harp', 'panpipe', 'cash_machine', 'mailbox',
       'wallaby', 'EntleBucher', 'earthstar', 'pillow', 'bluetick',
       'space_heater', 'carousel', 'Irish_setter', 'birdhouse', 'snorkel',
       'bald_eagle', 'koala', 'Leonberg', 'cheetah', 'minibus',
       'Weimaraner', 'clog', 'dishwasher', 'white_wolf', 'sliding_door',
       'damselfly', 'Great_Dane', 'Tibetan_mastiff', 'cheeseburger',
       'fiddler_crab', 'bannister', 'crane', 'Scotch_terrier',
       'snowmobile', 'badger', 'bighorn', 'geyser', 'barrow', 'bison',
       'Mexican_hairless', 'ice_lolly', 'sea_lion', 'dining_table',
       'groenendael', 'Australian_terrier', 'beaver', 'briard',
       'Appenzeller', 'grey_fox', 'mousetrap', 'hippopotamus',
       'Border_terrier', 'hummingbird', 'tailed_frog', 'otter',
       'Egyptian_cat', 'four-poster', 'wild_boar', 'bathtub', 'agama',
       'muzzle', 'hotdog', 'bib', 'espresso', 'timber_wolf', 'meerkat',
       'nail', 'hammer', 'home_theater', 'alp', 'bonnet', 'handkerchief',
       'hand_blower', 'polecat', 'lakeside', 'studio_couch', 'cup',
       'cliff', 'Bedlington_terrier', 'lawn_mower', 'balloon',
       'sunglasses', 'rapeseed', 'traffic_light', 'coil', 'binoculars',
       'paddle', 'tiger_shark', 'sulphur-crested_cockatoo',
       'wire-haired_fox_terrier', 'Saluki', 'American_black_bear',
       'rotisserie', 'conch', 'skunk', 'bookshop', 'radio_telescope',
       'cougar', 'African_grey', 'coral_reef', 'lion', 'maillot',
       'Madagascar_cat', 'tabby', 'silky_terrier', 'giant_panda',
       'long-horned_beetle', 'Afghan_hound', 'clumber', 'sundial',
       'padlock', 'pool_table', 'quilt', 'beach_wagon', 'remote_control',
       'bakery', 'pedestal', 'gas_pump', 'bookcase', 'shield', 'loupe',
       'restaurant', 'prison', 'school_bus', 'cowboy_boot', 'jersey',
       'wooden_spoon', 'leopard', 'mortarboard', 'teapot',
       'military_uniform', 'washer', 'coffee_mug', 'fountain',
       'pencil_box', 'barbell', 'grille', 'revolver', 'envelope',
       'syringe', 'marmot', 'pole', 'laptop', 'basketball', 'tricycle',
       'convertible', 'limousine', 'orange'], dtype=object)

In [183]:
df_image_clean['p2'].unique()

array(['collie', 'miniature_pinscher', 'malinois', 'redbone',
       'Rottweiler', 'English_springer', 'mud_turtle', 'Tibetan_mastiff',
       'shopping_basket', 'komondor', 'Yorkshire_terrier',
       'English_foxhound', 'bull_mastiff', 'German_shepherd', 'Shih-Tzu',
       'Newfoundland', 'cock', 'desk', 'toy_terrier', 'toy_poodle',
       'otter', 'Chesapeake_Bay_retriever', 'Siberian_husky', 'skunk',
       'Afghan_hound', 'bloodhound', 'barracouta', 'papillon',
       'cocker_spaniel', 'chow', 'Irish_terrier', 'chain_saw', 'beagle',
       'giant_schnauzer', 'Labrador_retriever', 'Pembroke', 'Chihuahua',
       'Weimaraner', 'slug', 'Brittany_spaniel', 'standard_schnauzer',
       'teddy', 'armadillo', 'African_hunting_dog', 'vizsla', 'doormat',
       'pug', 'Italian_greyhound', 'Samoyed', 'Pomeranian',
       'miniature_poodle', 'Lakeland_terrier', 'Irish_setter', 'swab',
       'malamute', 'bath_towel', 'Border_collie', 'Leonberg', 'drake',
       'French_bulldog', 'ice_bear', 'Christmas_stocking',
       'golden_retriever', 'standard_poodle', 'dhole', 'kuvasz',
       'Cardigan', 'silky_terrier', 'spotlight', 'dishwasher', 'bighorn',
       'tow_truck', 'hummingbird', 'English_setter', 'prayer_rug',
       'frilled_lizard', 'Pekinese', 'ox', 'boxer', 'hog', 'guinea_pig',
       'hen', 'wallaby', 'cowboy_boot', 'cornet', 'minivan', 'paddle',
       'basset', 'hamper', 'Bedlington_terrier', 'Shetland_sheepdog',
       'bow', 'Lhasa', 'pelican', 'toaster', 'groenendael',
       'Australian_terrier', 'llama', 'knee_pad', 'pillow',
       'Ibizan_hound', 'Old_English_sheepdog', 'Welsh_springer_spaniel',
       'coral_reef', 'bison', 'waffle_iron', 'tabby', 'bib', 'police_van',
       'Eskimo_dog', 'breastplate', 'German_short-haired_pointer',
       'Norfolk_terrier', 'Blenheim_spaniel', 'pickup',
       'miniature_schnauzer', 'lampshade', 'Tibetan_terrier',
       'Siamese_cat', 'borzoi', 'studio_couch', 'toilet_seat', 'hamster',
       'seat_belt', 'keeshond', 'koala', 'hair_spray', 'Saint_Bernard',
       'tray', 'American_Staffordshire_terrier', 'birdhouse', 'terrapin',
       'Staffordshire_bullterrier', 'briard',
       'West_Highland_white_terrier', 'spotted_salamander', 'tennis_ball',
       'porcupine', 'cardigan', 'corn', 'basenji', 'otterhound',
       'European_gallinule', 'indri', 'tailed_frog', 'beach_wagon',
       'siamang', 'orange', 'home_theater', 'cairn', 'hare',
       'Norwegian_elkhound', 'Brabancon_griffon', 'American_black_bear',
       'sulphur_butterfly', 'Sealyham_terrier', 'Walker_hound',
       'tarantula', 'Persian_cat', 'coral_fungus', 'accordion', 'kelpie',
       'Great_Pyrenees', 'wood_rabbit', 'black-and-tan_coonhound',
       'sunglasses', 'plow', 'whippet', 'rain_barrel', 'bathtub', 'tiger',
       'snail', 'tick', 'wire-haired_fox_terrier', 'water_bottle', 'wig',
       'platypus', 'Irish_wolfhound', 'ram', 'gorilla',
       'entertainment_center', 'toucan', 'mask', 'shopping_cart',
       'Sussex_spaniel', 'crate', 'grey_whale', 'badger', 'Airedale',
       'Arabian_camel', 'cockroach', 'lifeboat', 'rotisserie', 'goldfish',
       'stingray', 'warthog', 'bobsled', 'rhinoceros_beetle', 'beaver',
       'brown_bear', 'Maltese_dog', 'weasel', 'quill',
       'Rhodesian_ridgeback', 'Arctic_fox', 'ashcan', 'bow_tie',
       'soft-coated_wheaten_terrier', 'schipperke', 'bearskin',
       'Kerry_blue_terrier', 'ice_lolly', 'American_alligator',
       'mosquito_net', 'sea_lion', 'Boston_bull', 'nail',
       'black-footed_ferret', 'promontory', 'sarong', 'Doberman',
       'space_heater', 'Great_Dane', 'mailbox', 'Saluki', 'bakery',
       'sandal', 'leafhopper', 'barrel', 'water_buffalo', 'polecat',
       'macaque', 'Japanese_spaniel', 'folding_chair', 'trench_coat',
       'Angora', 'junco', 'crib', 'dalmatian', 'snowmobile',
       'flat-coated_retriever', 'streetcar', 'window_screen', 'bannister',
       'hair_slide', 'meerkat', 'cannon', 'jaguar', 'Border_terrier',
       'Greater_Swiss_Mountain_dog', 'hay', 'apron', 'cloak', 'radiator',
       'muzzle', 'feather_boa', 'rifle', 'chimpanzee', 'loggerhead',
       'torch', 'Mexican_hairless', 'spindle', 'triceratops',
       'Appenzeller', 'stove', 'dingo', 'oscilloscope', 'common_newt',
       'hotdog', 'medicine_chest', 'quail', 'horse_cart', 'four-poster',
       'pier', 'red_fox', 'affenpinscher', 'assault_rifle',
       'mashed_potato', 'moped', 'hyena', 'seashore', 'tub', 'sports_car',
       'swing', 'mink', 'bluetick', 'neck_brace', 'grey_fox', 'mongoose',
       'fur_coat', 'Scotch_terrier', 'spatula', 'paper_towel', 'shoji',
       'toyshop', 'banded_gecko', 'peacock', 'crossword_puzzle',
       'tree_frog', 'wombat', 'turnstile', 'sleeping_bag', 'quilt',
       'Gila_monster', 'giant_panda', 'Dandie_Dinmont', 'handkerchief',
       'sombrero', 'Indian_elephant', 'coffee_mug', 'gibbon', 'carton',
       'screw', 'minibus', 'hatchet', 'window_shade', 'lawn_mower',
       'washbasin', 'sock', 'prison', 'patio', 'china_cabinet',
       'chain_mail', 'breakwater', 'computer_keyboard', 'goose',
       'lakeside', 'solar_dish', 'table_lamp', 'Windsor_tie',
       'punching_bag', 'comic_book', 'sunglass', 'great_white_shark',
       'timber_wolf', 'fountain', 'dugong', 'marmot', 'barbershop',
       'shovel', 'curly-coated_retriever', 'lesser_panda', 'monitor',
       'crutch', 'cash_machine', 'printer', 'volcano', 'wallet', 'laptop',
       'bathing_cap', 'confectionery', 'dam', 'killer_whale', 'canoe',
       'Madagascar_cat', 'jean', 'boathouse', 'cliff', 'maillot', 'iPod',
       'hand-held_computer', 'black_widow', 'Norwich_terrier', 'necklace',
       'dining_table', 'binoculars', 'cradle', 'sea_urchin', 'cougar',
       'EntleBucher', 'basketball', 'lighter', 'saltshaker', 'harvester',
       'television', 'envelope', 'house_finch', 'web_site', 'palace',
       'shower_curtain', 'cab', 'snorkel', 'jigsaw_puzzle', 'sweatshirt',
       'white_wolf', 'sliding_door', 'academic_gown', 'cowboy_hat',
       'can_opener', 'cup', 'rule', 'soccer_ball', 'bucket', 'racket',
       'menu', 'purse', 'Bernese_mountain_dog', 'dumbbell', 'projectile',
       'dock', 'oxygen_mask', 'sandbar', 'umbrella', 'shower_cap',
       'bagel'], dtype=object)

In [184]:
df_image_clean['p3'].unique()

array(['Shetland_sheepdog', 'Rhodesian_ridgeback', 'bloodhound',
       'miniature_pinscher', 'Doberman', 'Greater_Swiss_Mountain_dog',
       'terrapin', 'fur_coat', 'golden_retriever',
       'soft-coated_wheaten_terrier', 'Labrador_retriever', 'Pekinese',
       'Ibizan_hound', 'French_bulldog', 'malinois', 'Dandie_Dinmont',
       'borzoi', 'partridge', 'bookcase', 'basenji', 'miniature_poodle',
       'great_grey_owl', 'groenendael', 'Eskimo_dog', 'hamster', 'briard',
       'papillon', 'flat-coated_retriever', 'gar', 'Chihuahua',
       'Shih-Tzu', 'Pomeranian', 'dingo', 'power_drill', 'Saluki',
       'Great_Pyrenees', 'West_Highland_white_terrier', 'collie',
       'toy_poodle', 'vizsla', 'acorn', 'giant_schnauzer', 'teddy',
       'common_iguana', 'wig', 'water_buffalo', 'coyote', 'seat_belt',
       'kelpie', 'space_heater', 'Brabancon_griffon', 'standard_poodle',
       'beagle', 'Irish_water_spaniel', 'bluetick', 'Weimaraner',
       'Chesapeake_Bay_retriever', 'toilet_tissue',
       'black-and-tan_coonhound', 'kuvasz', 'Christmas_stocking',
       'badger', 'hen', 'Staffordshire_bullterrier', 'Yorkshire_terrier',
       'Lakeland_terrier', 'weasel', 'ski_mask', 'cocker_spaniel',
       'Australian_terrier', 'lampshade', 'oscilloscope', 'ram', 'jeep',
       'ice_bear', 'African_grey', 'Great_Dane', 'curly-coated_retriever',
       'doormat', 'African_chameleon', 'schipperke', 'muzzle',
       'triceratops', 'Newfoundland', 'Band_Aid', 'wood_rabbit',
       'white_wolf', 'giant_panda', 'Welsh_springer_spaniel',
       'French_horn', 'toy_terrier', 'Pembroke', 'Cardigan', 'bassinet',
       'pug', 'Afghan_hound', 'American_Staffordshire_terrier', 'whippet',
       'English_setter', 'panpipe', 'crane', 'mouse', 'titi', 'Angora',
       'Boston_bull', 'silky_terrier', 'Japanese_spaniel', 'sandbar',
       'balance_beam', 'black-footed_ferret', 'miniature_schnauzer',
       'Blenheim_spaniel', 'bathtub', 'Saint_Bernard', 'redbone',
       'goldfish', 'Norfolk_terrier', 'llama', 'koala', 'pillow',
       'jersey', 'chow', 'minibus', 'malamute', 'bulletproof_vest',
       'beach_wagon', 'cairn', 'plunger', 'paper_towel', 'wing',
       'English_foxhound', 'Brittany_spaniel', 'bolete', 'ashcan',
       'box_turtle', 'guinea_pig', 'bison', 'bull_mastiff', 'racket',
       'cardoon', 'Tibetan_mastiff', 'window_screen', 'Irish_terrier',
       'agama', 'common_newt', 'car_wheel', 'gorilla', 'bagel', 'clumber',
       'Egyptian_cat', 'television', 'boxer', 'brown_bear', 'leafhopper',
       'German_shepherd', 'Border_collie', 'menu', 'wolf_spider',
       'bathing_cap', 'stinkhorn', 'drumstick', 'mask',
       'Scottish_deerhound', 'shower_curtain', 'Appenzeller',
       'plastic_bag', 'swimming_trunks', 'prairie_chicken', 'red_wolf',
       'Maltese_dog', 'snail', 'gibbon', 'Gordon_setter', 'black_swan',
       'beacon', 'wool', 'cowboy_boot', 'Rottweiler', 'poncho', 'swing',
       'Arctic_fox', 'bib', 'Italian_greyhound', 'steam_locomotive',
       'fountain', 'chickadee', 'abaya', 'Border_terrier', 'bubble',
       'chimpanzee', 'hammerhead', 'Norwegian_elkhound',
       'Norwich_terrier', 'Airedale', 'Siamese_cat', 'sea_cucumber',
       'seashore', 'nipple', 'moped', 'Arabian_camel', 'crayfish',
       'wallaby', 'wire-haired_fox_terrier', 'toilet_seat',
       'Old_English_sheepdog', 'pajama', 'Walker_hound', 'shovel',
       'bucket', 'Sealyham_terrier', 'Windsor_tie', 'Siberian_husky',
       'quill', 'Persian_cat', 'European_fire_salamander',
       'three-toed_sloth', 'swab', 'echidna', 'tennis_ball', 'Lhasa',
       'coral_reef', 'keeshond', 'mink', 'screw', 'basset', 'wreck',
       'kimono', 'German_short-haired_pointer', 'joystick', 'microwave',
       'Tibetan_terrier', 'Irish_wolfhound', 'Samoyed', 'loggerhead',
       'French_loaf', 'Irish_setter', 'komondor', 'purse', 'greenhouse',
       'broccoli', 'shopping_basket', 'macaque', 'squirrel_monkey',
       'green_lizard', 'parallel_bars', 'cloak', 'chest', 'sundial',
       'mosquito_net', 'bath_towel', 'cuirass', 'zebra', 'lumbermill',
       'wallet', 'feather_boa', 'English_springer', 'electric_fan',
       'hippopotamus', 'ox', 'quilt', 'assault_rifle', 'axolotl', 'pot',
       'toyshop', 'pizza', 'scuba_diver', 'beaver', 'Mexican_hairless',
       'cliff', 'loupe', 'wild_boar', 'jaguar', 'hog', 'polecat', 'lion',
       'EntleBucher', 'hand-held_computer', 'washbasin', 'whiptail',
       'rock_crab', 'hare', 'shoji', 'sombrero', 'bell_cote', 'rifle',
       'goose', 'pickup', 'sunglasses', 'limousine', 'bow_tie', 'pretzel',
       'marmot', 'ice_lolly', 'vacuum', 'dalmatian', 'prison',
       'shower_cap', 'sliding_door', 'dugong', 'otterhound', 'eel',
       'binder', 'bullfrog', 'soap_dispenser', 'sea_lion', 'carton',
       'brass', 'mitten', 'golfcart', 'cougar', 'warthog', 'umbrella',
       'neck_brace', 'cup', 'book_jacket', 'padlock', 'cab', 'chime',
       'Leonberg', 'viaduct', 'American_black_bear', 'tub', 'hand_blower',
       'king_penguin', 'rotisserie', 'bannister', 'passenger_car',
       'mongoose', 'dhole', 'consomme', 'valley', 'park_bench',
       'mushroom', 'barrow', 'parachute', 'desktop_computer', 'snorkel',
       'wok', 'affenpinscher', 'space_shuttle', 'rain_barrel',
       'ballplayer', 'mountain_tent', 'oxcart', 'buckeye', 'sunglass',
       'croquet_ball', 'refrigerator', 'snow_leopard', 'tripod',
       'rapeseed', 'tiger_cat', 'Bernese_mountain_dog', 'notebook',
       'maraca', 'pool_table', 'lakeside', 'theater_curtain', 'pier',
       'cheetah', 'mousetrap', 'pop_bottle', 'soccer_ball', 'wombat',
       'rhinoceros_beetle', 'paddlewheel', 'paintbrush', 'maze',
       'hatchet', 'chain', 'jigsaw_puzzle', 'switch',
       'Kerry_blue_terrier', 'barbell', 'convertible',
       'entertainment_center', 'file', 'guillotine', 'nail',
       'standard_schnauzer', 'bow', 'grocery_store', 'boathouse', 'conch',
       'Bouvier_des_Flandres', 'grey_fox', 'shopping_cart', 'meerkat',
       'grand_piano', 'envelope', 'screen', 'coffeepot', 'printer',
       'otter', 'restaurant', 'bonnet', 'crossword_puzzle', 'go-kart',
       'Sussex_spaniel', 'orangutan', 'canoe', 'barber_chair',
       'traffic_light', 'ibex', 'can_opener', 'Indian_elephant',
       'spatula', 'banana'], dtype=object)

In [185]:
## using lambda to replace underscore.

df_image_clean.p1 = list(map(lambda x: x.replace(' ', '_'),
                                 df_image_clean.p1))
df_image_clean.p2 = list(map(lambda x: x.replace(' ', '_'),
                                 df_image_clean.p2))
df_image_clean.p3 = list(map(lambda x: x.replace(' ', '_'),
                                 df_image_clean.p3))


### Replace all uppercase with lowercase character
df_image_clean.p1 = df_image_clean.p1.str.lower()
df_image_clean.p2 = df_image_clean.p2.str.lower()
df_image_clean.p3 = df_image_clean.p3.str.lower()

#### Test

In [186]:
df_image_clean['p1'].unique()

array(['welsh_springer_spaniel', 'redbone', 'german_shepherd',
       'rhodesian_ridgeback', 'miniature_pinscher',
       'bernese_mountain_dog', 'box_turtle', 'chow', 'shopping_cart',
       'miniature_poodle', 'golden_retriever', 'gordon_setter',
       'walker_hound', 'pug', 'bloodhound', 'lhasa', 'english_setter',
       'hen', 'desktop_computer', 'italian_greyhound', 'maltese_dog',
       'three-toed_sloth', 'ox', 'malamute', 'guinea_pig',
       'soft-coated_wheaten_terrier', 'chihuahua',
       'black-and-tan_coonhound', 'coho', 'toy_terrier',
       'blenheim_spaniel', 'pembroke', 'llama',
       'chesapeake_bay_retriever', 'curly-coated_retriever', 'dalmatian',
       'ibizan_hound', 'border_collie', 'labrador_retriever', 'seat_belt',
       'snail', 'miniature_schnauzer', 'airedale', 'triceratops', 'swab',
       'hay', 'hyena', 'jigsaw_puzzle', 'west_highland_white_terrier',
       'toy_poodle', 'giant_schnauzer', 'vizsla', 'vacuum', 'rottweiler',
       'siberian_husky', 'teddy', 'papillon', 'saint_bernard',
       'porcupine', 'goose', 'tibetan_terrier', 'borzoi', 'beagle',
       'hare', 'yorkshire_terrier', 'pomeranian', 'electric_fan',
       'web_site', 'ibex', 'kuvasz', 'fire_engine', 'lorikeet',
       'flat-coated_retriever', 'toyshop', 'common_iguana',
       'norwegian_elkhound', 'frilled_lizard', 'leatherback_turtle',
       'hamster', 'angora', 'arctic_fox', 'trombone', 'canoe',
       'king_penguin', 'shopping_basket', 'standard_poodle',
       'staffordshire_bullterrier', 'basenji', 'lakeland_terrier',
       'american_staffordshire_terrier', 'bearskin', 'shih-tzu',
       'bustard', 'crash_helmet', 'french_bulldog', 'pekinese',
       'komondor', 'ski_mask', 'malinois', 'kelpie', 'brittany_spaniel',
       'cocker_spaniel', 'shower_curtain', 'basset', 'jellyfish',
       'doormat', 'arabian_camel', 'lynx', 'hog', 'comic_book', 'minivan',
       'seashore', 'cuirass', 'brabancon_griffon', 'candle', 'eskimo_dog',
       'weasel', 'christmas_stocking', 'washbasin', 'car_mirror',
       'piggy_bank', 'pot', 'boathouse', 'mud_turtle',
       'german_short-haired_pointer', 'shetland_sheepdog',
       'irish_terrier', 'cairn', 'platypus', 'english_springer',
       'whippet', 'ping-pong_ball', 'sea_urchin', 'bow_tie',
       'window_shade', "jack-o'-lantern", 'sorrel', 'sussex_spaniel',
       'peacock', 'axolotl', 'wool', 'banana', 'dandie_dinmont',
       'norwich_terrier', 'wood_rabbit', 'dhole', 'keeshond',
       'norfolk_terrier', 'lacewing', 'dingo', 'brown_bear',
       'old_english_sheepdog', 'scorpion', 'flamingo', 'microphone',
       'samoyed', 'pitcher', 'african_hunting_dog', 'refrigerator',
       'picket_fence', 'tub', 'zebra', 'hermit_crab', 'swing', 'doberman',
       'park_bench', 'feather_boa', 'loafer', 'stone_wall', 'ice_bear',
       'prayer_rug', 'chimpanzee', 'china_cabinet', 'bee_eater',
       'tennis_ball', 'carton', 'killer_whale', 'ostrich', 'terrapin',
       'siamese_cat', 'gondola', 'great_pyrenees', 'microwave',
       'starfish', 'sandbar', 'tusker', 'motor_scooter', 'ram',
       'leaf_beetle', 'wombat', 'schipperke', 'newfoundland',
       'bull_mastiff', 'water_bottle', 'suit', 'toilet_seat', 'collie',
       'robin', 'cardigan', 'greater_swiss_mountain_dog', 'slug',
       'toilet_tissue', 'acorn_squash', 'soccer_ball',
       'african_crocodile', 'tick', 'ocarina', 'boxer', 'street_sign',
       'bow', 'stove', 'paper_towel', 'upright', 'dough',
       'scottish_deerhound', 'bath_towel', 'standard_schnauzer',
       'walking_stick', 'irish_water_spaniel', 'bubble', 'boston_bull',
       'book_jacket', 'rain_barrel', 'black-footed_ferret', 'guenon',
       'japanese_spaniel', 'water_buffalo', 'patio', 'cowboy_hat',
       'dogsled', 'maze', 'harp', 'panpipe', 'cash_machine', 'mailbox',
       'wallaby', 'entlebucher', 'earthstar', 'pillow', 'bluetick',
       'space_heater', 'carousel', 'irish_setter', 'birdhouse', 'snorkel',
       'bald_eagle', 'koala', 'leonberg', 'cheetah', 'minibus',
       'weimaraner', 'clog', 'dishwasher', 'white_wolf', 'sliding_door',
       'damselfly', 'great_dane', 'tibetan_mastiff', 'cheeseburger',
       'fiddler_crab', 'bannister', 'crane', 'scotch_terrier',
       'snowmobile', 'badger', 'bighorn', 'geyser', 'barrow', 'bison',
       'mexican_hairless', 'ice_lolly', 'sea_lion', 'dining_table',
       'groenendael', 'australian_terrier', 'beaver', 'briard',
       'appenzeller', 'grey_fox', 'mousetrap', 'hippopotamus',
       'border_terrier', 'hummingbird', 'tailed_frog', 'otter',
       'egyptian_cat', 'four-poster', 'wild_boar', 'bathtub', 'agama',
       'muzzle', 'hotdog', 'bib', 'espresso', 'timber_wolf', 'meerkat',
       'nail', 'hammer', 'home_theater', 'alp', 'bonnet', 'handkerchief',
       'hand_blower', 'polecat', 'lakeside', 'studio_couch', 'cup',
       'cliff', 'bedlington_terrier', 'lawn_mower', 'balloon',
       'sunglasses', 'rapeseed', 'traffic_light', 'coil', 'binoculars',
       'paddle', 'tiger_shark', 'sulphur-crested_cockatoo',
       'wire-haired_fox_terrier', 'saluki', 'american_black_bear',
       'rotisserie', 'conch', 'skunk', 'bookshop', 'radio_telescope',
       'cougar', 'african_grey', 'coral_reef', 'lion', 'maillot',
       'madagascar_cat', 'tabby', 'silky_terrier', 'giant_panda',
       'long-horned_beetle', 'afghan_hound', 'clumber', 'sundial',
       'padlock', 'pool_table', 'quilt', 'beach_wagon', 'remote_control',
       'bakery', 'pedestal', 'gas_pump', 'bookcase', 'shield', 'loupe',
       'restaurant', 'prison', 'school_bus', 'cowboy_boot', 'jersey',
       'wooden_spoon', 'leopard', 'mortarboard', 'teapot',
       'military_uniform', 'washer', 'coffee_mug', 'fountain',
       'pencil_box', 'barbell', 'grille', 'revolver', 'envelope',
       'syringe', 'marmot', 'pole', 'laptop', 'basketball', 'tricycle',
       'convertible', 'limousine', 'orange'], dtype=object)

### Issue
Non-dog images are present in the image prediction column.
#### Define
I will query all the false image prediction in the column and drop them.

#### Code

In [187]:
df_image_clean.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1173,737310737551491075,https://pbs.twimg.com/ext_tw_video_thumb/737310236135043073/pu/img/_lG4DXmH-_XEq7Rc.jpg,1,cliff,0.439077,False,lakeside,0.062899,False,valley,0.039758,False
922,702217446468493312,https://pbs.twimg.com/media/Cb7HCMkWEAAV9zY.jpg,1,golden_retriever,0.242419,True,chow,0.226800,True,cocker_spaniel,0.194086,True
770,689289219123089408,https://pbs.twimg.com/ext_tw_video_thumb/689289176076959744/pu/img/hEFkFtmMu_hkTlxK.jpg,1,snowmobile,0.254642,False,assault_rifle,0.129558,False,rifle,0.110875,False
667,682962037429899265,https://pbs.twimg.com/media/CXpeVzQW8AApKYb.jpg,1,dingo,0.278600,False,chihuahua,0.155207,True,loupe,0.153598,False
1886,847962785489326080,https://pbs.twimg.com/media/C8SRpHNUIAARB3j.jpg,1,sea_lion,0.882654,False,mink,0.066880,False,otter,0.025679,False
900,699801817392291840,https://pbs.twimg.com/media/CbYyCMcWIAAHHjF.jpg,2,golden_retriever,0.808978,True,irish_setter,0.042428,True,labrador_retriever,0.023536,True
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,0.167256,False,barber_chair,0.052625,False
709,685268753634967552,https://pbs.twimg.com/media/CYKQS0xUQAEOptC.jpg,1,pug,0.999044,True,norwegian_elkhound,0.000547,True,bull_mastiff,0.000235,True
1570,794926597468000259,https://pbs.twimg.com/media/CwglhZVXgAAc3_w.jpg,1,teddy,0.569566,False,bath_towel,0.173745,False,toy_poodle,0.037662,True
1008,709207347839836162,https://pbs.twimg.com/media/CdecUSzUIAAHCvg.jpg,1,chihuahua,0.948323,True,italian_greyhound,0.017730,True,quilt,0.016688,False

In [188]:
### not_dog for rows with all prediction is dog(False)
not_dog = df_image_clean.query("p1_dog == False & p2_dog == False & p3_dog == False").index
df_image_clean.drop(not_dog,inplace = True)

#### Test

In [189]:
len(df_image_clean.query('p1_dog == False & p2_dog == False & p3_dog == False'))

0

### Issue
Different tweet_ids have same jpg_url

#### Define 
Some Tweet_ids contains same jpg_url which could be due to retweets. Duplicated images will not be needed for this analysis, therefore, it will be dropped from the table.

In [190]:
df_image_clean['jpg_url'].duplicated().sum()

60

In [191]:
### drop duplictated URL
df_image_clean.drop_duplicates('jpg_url', inplace = True)

#### Test

In [192]:
df_image_clean['jpg_url'].duplicated().sum()

0

### Issue
The prediction models picked up some more obvious object in the picture.
#### Define
The first prediction (p1) has the highest prediction confidence (p1_conf) with records but it could pick up more obvious object which might not be dog, which render the "p1_dog" FALSE. I will create a column for the likely dog breed using one of the Predictions that are true.

#### Code

In [193]:
### Create a function for the most likely breed of dog
def breed_pred(x):
    if x[0]==True:
        return x[1]
    elif x[2]==True:
        return x[3]
    else:
        return x[4]
    
df_image_clean['breed'] = df_image_clean[['p1_dog', 'p1', 'p2_dog', 'p2', 'p3', 'p3_dog']].apply(breed_pred, axis=1)

#### Test

In [194]:
df_image_clean.head(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True,welsh_springer_spaniel
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True,redbone
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,german_shepherd
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,rhodesian_ridgeback
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True,miniature_pinscher
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,bernese_mountain_dog,0.651137,True,english_springer,0.263788,True,greater_swiss_mountain_dog,0.016199,True,bernese_mountain_dog
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,tibetan_mastiff,0.058279,True,fur_coat,0.054449,False,chow
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True,golden_retriever
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True,miniature_poodle
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,tibetan_mastiff,0.093718,True,labrador_retriever,0.072427,True,golden_retriever

###  Issue
Unwanted image prediction confidence.


### Define
There are three image prediction columns in the table, I will create a column " p_conf" that will take is value with dependence with the corresponding conf level from with the breed column takes it value.

#### Code

In [195]:
def get_dependent_column(row):
    if row['p1'] == row['breed']:
        return row['p1_conf']
    elif row['p2'] == row['breed']:
        return row['p2_conf']
    elif row['p3'] == row['breed']:
        return row['p3_conf']
    else:
        return None
df_image_clean['p_conf'] = df_image_clean.apply(lambda row: get_dependent_column(row),axis = 1)

#### Test

In [196]:
df_image_clean.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed,p_conf
125,668248472370458624,https://pbs.twimg.com/media/CUYYcMfXAAAixe7.jpg,1,chihuahua,0.734547,True,miniature_pinscher,0.068294,True,toy_terrier,0.046367,True,chihuahua,0.734547
1865,843235543001513987,https://pbs.twimg.com/media/C7PGQJAWwAAibui.jpg,1,pembroke,0.958452,True,cardigan,0.023770,True,chihuahua,0.005269,True,pembroke,0.958452
1468,778990705243029504,https://pbs.twimg.com/media/Cs-H5uhWcAAiNY9.jpg,2,cocker_spaniel,0.715351,True,labrador_retriever,0.207056,True,chihuahua,0.028519,True,cocker_spaniel,0.715351
1763,826240494070030336,https://pbs.twimg.com/media/C3dlVMbXAAUd-Gh.jpg,1,french_bulldog,0.903048,True,pug,0.096242,True,boston_bull,0.000234,True,french_bulldog,0.903048
1245,747512671126323200,https://pbs.twimg.com/media/Cl-yykwWkAAqUCE.jpg,1,cardigan,0.111493,True,malinois,0.095089,True,german_shepherd,0.080146,True,cardigan,0.111493

### Issue

There are redundant columns in the image_prediction table.

### Define

Drop all redundant column from the dataframe.

#### Code

In [197]:
## drop redundant columns in image_clean

df_image_clean.drop(columns =['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], inplace = True)

#### Test

In [198]:
df_image_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1691 entries, 0 to 2073
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  1691 non-null   object
 1   jpg_url   1691 non-null   object
 2   breed     1691 non-null   object
 3   p_conf    1691 non-null   float64
dtypes: float64(1), object(3)
memory usage: 66.1+ KB

## **df_more_clean**

In [199]:
df_more_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   object
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.3+ KB

In [200]:
df_more_clean.duplicated().any()

False

The df_more_clean dataset looks good.

In [201]:
df_archive_clean.info()
df_image_clean.info()
df_more_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2336 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2336 non-null   object
 1   source              2336 non-null   category
 2   text                2336 non-null   object
 3   rating_numerator    2336 non-null   float64
 4   rating_denominator  2336 non-null   float64
 5   name                1521 non-null   object
 6   doggo               2336 non-null   object
 7   floofer             2336 non-null   object
 8   pupper              2336 non-null   object
 9   puppo               2336 non-null   object
 10  date                2336 non-null   datetime64[ns]
 11  time                2336 non-null   object
dtypes: category(1), datetime64[ns](1), float64(2), object(8)
memory usage: 286.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1691 entries, 0 to 2073
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  1691 non-null   object
 1   jpg_url   1691 non-null   object
 2   breed     1691 non-null   object
 3   p_conf    1691 non-null   float64
dtypes: float64(1), object(3)
memory usage: 66.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   object
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.3+ KB

# **Tidiness Issue**

## Issue
The dog stage columns(doggo, floofer, pupper, puppo) should be collapsed into a single column stage


## Define 
I will interate through the  four columns and join the stage name into one single column stage. For rows that are empty, it will be converted to None value and the none value will be removed.

### Code

In [202]:
## create column 'stage' by merging the four dog stages columns, replacing the empty rows wiht nan values

df_archive_clean['stage'] = df_archive_clean[['doggo', 'floofer', 'pupper', 'puppo']].apply(lambda x: ''.join(x), axis=1)
df_archive_clean['stage'].replace('', np.nan, inplace=True)
value_counts = df_archive_clean['stage'].value_counts()

value_counts

NoneNoneNoneNone        1956
NoneNonepupperNone       245
doggoNoneNoneNone         83
NoneNoneNonepuppo         29
doggoNonepupperNone       12
NoneflooferNoneNone        9
doggoNoneNonepuppo         1
doggoflooferNoneNone       1
Name: stage, dtype: int64

In [203]:
# Drop rows with 'None' in the 'dog_stage' column
df_archive_clean = df_archive_clean[df_archive_clean['stage'] != 'None']

df_archive_clean['stage'] = df_archive_clean['stage'].map(lambda x: x.replace("None",""))

### Test

In [204]:
df_archive_clean['stage'].value_counts()

                1956
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggopuppo         1
doggofloofer       1
Name: stage, dtype: int64

In [205]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2336 entries, 0 to 2355
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2336 non-null   object
 1   source              2336 non-null   category
 2   text                2336 non-null   object
 3   rating_numerator    2336 non-null   float64
 4   rating_denominator  2336 non-null   float64
 5   name                1521 non-null   object
 6   doggo               2336 non-null   object
 7   floofer             2336 non-null   object
 8   pupper              2336 non-null   object
 9   puppo               2336 non-null   object
 10  date                2336 non-null   datetime64[ns]
 11  time                2336 non-null   object
 12  stage               2336 non-null   object
dtypes: category(1), datetime64[ns](1), float64(2), object(9)
memory usage: 239.7+ KB

### Code

In [206]:
# Drop columns 'doggo', 'floofer', 'pupper', and 'puppo'
df_archive_clean.drop(columns=['doggo', 'floofer', 'pupper', 'puppo','rating_denominator'], inplace=True)

### Test

In [207]:
df_archive_clean.sample(5)

,tweet_id,source,text,rating_numerator,name,date,time,stage
423,821765923262631936,Twitter for iPhone,This is Duchess. She uses dark doggo forces to levitate her toys. 13/10 magical af,13.0,Duchess,2017-01-18,17:07:18,doggo
791,773704687002451968,Twitter for iPhone,This is Loki. He knows he's adorable. One ear always pupared. 12/10 would snug in depicted fashion forever,12.0,Loki,2016-09-08,02:09:06,
1178,719551379208073216,Twitter for iPhone,This is Harnold. He accidentally opened the front facing camera. 10/10 get it together Harnold,10.0,Harnold,2016-04-11,15:43:12,
1091,737445876994609152,Twitter for iPhone,Just wanted to share this super rare Rainbow Floofer in case you guys haven't seen it yet. 13/10 colorful af,13.0,NaN,2016-05-31,00:49:32,floofer
2116,670427002554466305,Twitter for iPhone,This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute,9.0,Spork,2015-11-28,02:20:27,

In [208]:
df_archive_clean.info()
df_more_clean.info()
df_image_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2336 entries, 0 to 2355
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          2336 non-null   object
 1   source            2336 non-null   category
 2   text              2336 non-null   object
 3   rating_numerator  2336 non-null   float64
 4   name              1521 non-null   object
 5   date              2336 non-null   datetime64[ns]
 6   time              2336 non-null   object
 7   stage             2336 non-null   object
dtypes: category(1), datetime64[ns](1), float64(1), object(5)
memory usage: 148.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   object
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1691 entries, 0 to 2073
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  1691 non-null   object
 1   jpg_url   1691 non-null   object
 2   breed     1691 non-null   object
 3   p_conf    1691 non-null   float64
dtypes: float64(1), object(3)
memory usage: 66.1+ KB

## Issue
The three data table should be merge together into a single column

## Define
Merge all table on the tweet_id columns as primary key.

### Code

In [209]:
## merge archive and more on tweetid 

superdata = pd.merge(df_archive_clean, df_more_clean,  on = 'tweet_id', how = 'left')

In [210]:
super_data = pd.merge(superdata,df_image_clean, on = 'tweet_id', how = 'left')

In [211]:
superdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2336 entries, 0 to 2335
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          2336 non-null   object
 1   source            2336 non-null   category
 2   text              2336 non-null   object
 3   rating_numerator  2336 non-null   float64
 4   name              1521 non-null   object
 5   date              2336 non-null   datetime64[ns]
 6   time              2336 non-null   object
 7   stage             2336 non-null   object
 8   retweet_count     2334 non-null   float64
 9   favorite_count    2334 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(3), object(5)
memory usage: 185.0+ KB

<a id='Store'></a>

## Store Tables as CSV

In [212]:
df_archive_clean.to_csv('wrd_archive_clean_data.csv',index = False)
df_more_clean.to_csv('wrd_more_clean_tweet_archive.csv',index = False)
df_image_clean.to_csv('wrd_image_archive_clean_data.csv', index = False)
superdata.to_csv('wrd_merge_clean_data.csv', index = False)

In [213]:
superdata.head(10)

,tweet_id,source,text,rating_numerator,name,date,time,stage,retweet_count,favorite_count
0,892420643555336193,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10,13.0,Phineas,2017-08-01,16:23:56,,8853.0,39467.0
1,892177421306343426,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10",13.0,Tilly,2017-08-01,00:17:27,,6514.0,33819.0
2,891815181378084864,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10,12.0,Archie,2017-07-31,00:18:03,,4328.0,25461.0
3,891689557279858688,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us,13.0,Darla,2017-07-30,15:58:51,,8964.0,42908.0
4,891327558926688256,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek",12.0,Franklin,2017-07-29,16:00:24,,9774.0,41048.0
5,891087950875897856,Twitter for iPhone,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek,13.0,NaN,2017-07-29,00:08:17,,3261.0,20562.0
6,890971913173991426,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\n,13.0,Jax,2017-07-28,16:27:12,,2158.0,12041.0
7,890729181411237888,Twitter for iPhone,When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10,13.0,NaN,2017-07-28,00:22:40,,16716.0,56848.0
8,890609185150312448,Twitter for iPhone,This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek,13.0,Zoey,2017-07-27,16:25:51,,4429.0,28226.0
9,890240255349198849,Twitter for iPhone,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate,14.0,Cassie,2017-07-26,15:59:51,doggo,7711.0,32467.0

## *All visualization and insight will be done on Tableau and will be published as dashboard*